body {
    font-family: "Open Sans", sans-serif;
    color: #444444;
    align-items: center;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Raleway", sans-serif;
    color: #9a6e3a;
}

a {
    color: #9a6e3a;
    text-decoration: none;
}

a:hover {
    color: #9a6e3a;
    text-decoration: none;
}

legend {
    color: #9a6e3a;
}
.app-container {
    align-items: center;
    padding: 30px;
    margin-left: 140px;
    margin-top: 60px;
}
.help-block {
    color: #81888b;
    font-size: 14px;
}

sup {
    color: #ff0312;
}

.control-label {
    padding: 6px;
}

#header {
    transition: all 0.5s;
    background: #fff;
    z-index: 997;
    padding: 15px 0;
    border-bottom: 1px solid #e6f2fb;
}

#header.header-scrolled {
    border-color: #fff;
    box-shadow: 0px 2px 15px rgba(18, 66, 101, 0.08);
}

#header .logo {
    font-size: 28px;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-weight: 300;
    letter-spacing: 0.5px;
    font-family: "Poppins", sans-serif;
}

#header .logo a {
    color: #9a6e3a;
}

#header .logo img {
    max-height: 40px;
}

@media (max-width: 992px) {
    #header .logo {
        font-size: 28px;
    }
}

.navbar {
    padding: 0;
}

.navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
}

.navbar li {
    position: relative;
}

.navbar a,
.navbar a:focus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0 10px 30px;
    font-size: 14px;
    color: #664d03;
    white-space: nowrap;
    transition: 0.3s;
}

.navbar a i,
.navbar a:focus i {
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover>a {
    color: #9a6e3a;
}

.navbar .getstarted,
.navbar .getstarted:focus {
    background: #9a6e3a;
    padding: 8px 20px;
    margin-left: 30px;
    border-radius: 4px;
    color: #fff;
}

.navbar .getstarted:hover,
.navbar .getstarted:focus:hover {
    color: #fff;
    background: #9a6e3a;
}

.navbar .dropdown ul {
    display: block;
    position: absolute;
    left: 14px;
    top: calc(100% + 30px);
    margin: 0;
    padding: 10px 0;
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    background: #fff;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
    transition: 0.3s;
    border-radius: 4px;
}

.navbar .dropdown ul li {
    min-width: 200px;
}

.navbar .dropdown ul a {
    padding: 10px 20px;
    text-transform: none;
}

.navbar .dropdown ul a i {
    font-size: 12px;
}

.navbar .dropdown ul a:hover,
.navbar .dropdown ul .active:hover,
.navbar .dropdown ul li:hover>a {
    color: #9a6e3a;
}

.navbar .dropdown:hover>ul {
    opacity: 1;
    top: 100%;
    visibility: visible;
}

.navbar .dropdown .dropdown ul {
    top: 0;
    left: calc(100% - 30px);
    visibility: hidden;
}

.navbar .dropdown .dropdown:hover>ul {
    opacity: 1;
    top: 0;
    left: 100%;
    visibility: visible;
}

@media (max-width: 1366px) {
    .navbar .dropdown .dropdown ul {
        left: -90%;
    }

    .navbar .dropdown .dropdown:hover>ul {
        left: -100%;
    }
}

.row {

}
#gender {
    color: #9a6e3a !important;
}
.colorRadio {
    accent-color: #664d03;
}
#saveButton {

    color: #fff;
    background-color: #9a6e3a;
    border-color: #9a6e3a;
}

#saveButton:hover {
    background-color: #c18b4c;
}

.showPass {
    accent-color: #664d03;
}

#deleteButton {
    color: #9a6e3a;
    background-color: #fff;
    border-color: #9a6e3a;

}

#deleteButton:hover {
    background-color: #9a6e3a;
    color: #fff;
}