.nav-tabs {
    font-size: 14px;
    border: 0;
    border-bottom: 2px solid #f0f4f6;
    background: 0 0;
    margin-bottom: 10px;
    text-transform: uppercase;
    border-bottom: 1px solid #ddd
}
.nav {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    unicode-bidi: isolate;
}

* {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.nav::after {
    content: "";
}